@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Candal&family=Carattere&display=swap');
/* font-family: "Carattere", cursive; */
/* font-family: "Black Han Sans", sans-serif; */
/* font-family: "Candal", sans-serif; */
/* #b4cad8; variação cor modo claro */
/* #E4F2FC cor modo claro */
/* #0A2945 cor modo escuro */
* {
    padding: 0;
    margin: 0;
}
body {
    background: var(--background-body)
}
header {
    width: 100%;
}
.site {
    width: 100%;
    min-width: 1200px;
    height: 600px;
    width: 100%;
    background-image: url(../img/Banner.png);
   
}
/* nav */
nav {
    display: flex;
    justify-content: space-between;
}
/* logo */
.logo img {
    margin: 20px;
    width: 400px;
    cursor: pointer;
}
/* links-home-sobre... */
.links {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.itens {
    display: flex;
    padding-left: 20px;
}
.itens li a {
    padding: 20px;
    font-size: 20px;
    font-family: "Candal", sans-serif;
    text-decoration: none;
    color: white;
}
.itens li a:hover {
    transition: 1s;
    user-select: contain;
    border-radius: 20px 50px 20px 50px;
    color: aqua;
    box-shadow: aqua 5px 5px 5px 5px;
    cursor: pointer;
}
/* BOTÃO TROCA DE TEMA */
.bnt,
.md .me {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.md {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    font-size: 12pt;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    color: black;
    align-items: center;
    font-weight: bolder;
    font-family: "Black Han Sans", sans-serif;
}
.md:hover,
.me:hover {
    background-color: rgb(9, 206, 206);
    transition: 1s;
}
/* troca de tema  e variaveis*/
:root{
    --background-body: #0A2945;
    --acessibilidade-border: #1D70B8;
    --acessibilidade-background: white;
    --acessibilidade-color: #1D70B8;
}
:root[data-theme="dark"] {
    --background-body:#E4F2FC;    
    --acessibilidade-border: black;
}
input[type=checkbox] {
    margin: 0;
    padding: 0;
}

/* titúlos banner */
.txtbanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 20px;
    padding: 10px;
    height: 415px;
    font-weight: 900;
    font-family: "Black Han Sans", sans-serif;
    font-size: xx-large;
    color: #DBC7B3;
}
.animate__slideInLeft {
    transition-duration: 3s;
}
.animate__zoomIn {
    transition: 3s;
}
.pos {
    display: flex;
    justify-content: space-between;
}
.dif {
    display: flex;
    justify-content: start;
    color: rgb(9, 206, 206);
    font-weight: bolder;
    font-size: 24pt;
}
.posit {
    display: flex;
    justify-content: space-between;
}
.pos2 {
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
    font-weight: bolder;
}
/* main */
.acessibilidade button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    margin: 20px;
    background: transparent;
    border-color: var(--acessibilidade-border);
    background: var(--acessibilidade-background);
}
.fa-eye-low-vision:before, .fa-low-vision:before {
    color: var(--acessibilidade-color);
    background: var(--acessibilidade-background);
    border-radius: 50%;
    font-size:24pt;
}
.fa-hands:before, .fa-sign-language:before, .fa-signing:before{
   color: var(--acessibilidade-color);
    font-size: 24pt;
}
